# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.envrc
.venv
env/

# Extraneous files
.DS_Store
*.trashinfo
.Trash-O

# Build files
*.html

# Dataset files
*.jpg
numberbatch-en.txt
WELFake_Dataset.csv